.app {
  background-color: #1a2026;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100%;
}

.app-text {
  margin-top: 20px;
  text-align: center;
  padding: 21px 12px;
}

.app-text h1 {
  line-height: 30px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.app-text p {
  color: #8794a1;
  font-size: 16px;
  margin: 4px 0 0;
  line-height: 22px;
}

.app-text p a {
  text-decoration: none;
  margin-left: 5px;
  color: #248bda;
}
